html {
    box-sizing: border-box;
    box-shadow: inset;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  p:before {
    content: "[";
    color: red;
    font-weight: bold;
  }
  p:after {
    content: "]";
    color: red;
    font-weight: bold;
  }
  
  